html
  head
    title Express session
    block style
      style.
        * {font-family: sans-serif; margin: 0; padding: 0; }
        .content { padding: 20px; }
    block link
  body
    block head

    .content
      block content